:root {
    --cafe: #4B3621;
    --crema: #F5F5DC;
    --terracota: #E2725B;
    --verde-oliva: #708238;
    --blanco: #FFFFFF;
}

body {
    background-color: var(--crema);
    color: var(--cafe);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-terracota {
    background-color: var(--terracota);
    color: white;
    border: none;
}

.btn-terracota:hover {
    background-color: #c65d48;
    color: white;
}